body {
    background-color: rgb(235, 173, 196);
    margin: 20px;
}

h1{
    font-size: 50px;
    text-align: center;
}
#communityagreement {

}

#studioproject1 {

}

#labassign1{

}

#cookbook{

}

#labassign2 {

}