html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
@font-face {
  font-family: "Lato";
  src: url("./lato.woff") format("woff");
}
body {
  margin: 0;
  padding: 0;
  font-family: Lato;
}
a {
  text-decoration: none;
}

.added{
  font-size: 8vw;
  background-color: red;
}
.noshow{
opacity: 0;
}
span{
box-shadow:inset 0px 1px 0px 0px #f5978e;
background:linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
background-color:#f24537;
border-radius:6px;
border:1px solid #d02718;
display:inline-block;
cursor:pointer;
color:#ffffff;
font-family:Arial;
font-size:15px;
font-weight:bold;
padding:6px 24px;
text-decoration:none;
text-shadow:0px 1px 0px #810e05;
}
#button{
box-shadow:inset 0px 1px 0px 0px #bee2f9;
background:linear-gradient(to bottom, #63b8ee 5%, #468ccf 100%);
background-color:#63b8ee;
border-radius:6px;
border:1px solid #3866a3;
display:inline-block;
cursor:pointer;
color:#14396a;
font-family:Arial;
font-size:15px;
font-weight:bold;
padding:6px 24px;
text-decoration:none;
text-shadow:0px 1px 0px #7cacde;
margin: auto;
}
#hoverr{
color: white;
background-color: #666666;
height: 40px;
margin: auto;
}
.fontchange{
color: #14396a;
padding: 100px;
font-style: italic;
}
.center{
font-size: 5vw;
}
h1 {
  text-transform: uppercase;
  position: relative;
  text-align: center;
  font-size: 30px;
}
h3 {
  font-size: 25px;
}
#container3 {
  display: flex;
  flex-wrap: wrap;
  padding: 0 30px;
}
.items3 {
  width: 100vw;
  min-width: 300px;
  padding-bottom: 5vw;
}
img {
  width: 80vw;
}

#container1 ul {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  list-style-type: none;
  font-size: 18px;
  justify-content: space-between;
}
#container1 li {
  margin: 2vw;
  padding: 2vw 0;
  flex-basis: auto;
  flex-shrink: 3;
  flex-grow: 1;
  box-shadow: 0px 1px 0px 0px #f0f7fa;
  background: linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
  border-radius: 6px;
  border: 1px solid #057fd0;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  text-shadow: 0px -1px 0px #5b6178;
}
#container1 {
  margin: 20px 4vw;
}
#container2 {
  margin: 20px 4vw;
}
#container2 ul {
  list-style-type: none;
  font-size: 18px;
}
#container2 li {
  padding: 15px;
  margin: 10px 0;
  box-shadow:inset 0px 1px 0px 0px #ffffff;
  background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
  background-color:#ffffff;
  border-radius:6px;
  border:1px solid #dcdcdc;
  color:#666666;
  font-weight:bold;
  padding:6px 24px;
  text-decoration:none;
  text-shadow:0px 1px 0px #ffffff;
}

.slideshow-container {
max-width: 1000px;
position: relative;
margin: auto;
}

.my-slides {
display: none;
}

#prev, #next {
cursor: pointer;
position: absolute;
top: 50%;
width: auto;
margin-top: -25px;
padding: 16px;
color: black;
font-weight: bold;
font-size: 18px;
transition: 0.6s ease;
border-radius: 0 3px 3px 0;
user-select: none;
}

#prev{
left:0px;
}
#next {
right: -40px;
border-radius: 3px 0 0 3px;
z-index: 100;
}
@media screen and (min-width: 768px) {
  .items3 {
    width: 50vw;
  }
  img {
    width: 40vw;
    padding: 0 20px;
  }
  #container2{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
  }
  #container2 ul{
    display:flex;
    flex-wrap:wrap;
    flex-basis:auto;
    flex-grow:3;
    flex-shrink:3;
    align-items:center;
  }
  #container2 li{
    flex-basis:auto;
    flex-grow:1;
    flex-shrink:1;
    text-align:center;
    margin:0 5px;
    display:inline-block;
  }
  #container2 p{
    flex-basis:auto;
    flex-grow:3;
  margin: 10px 20px;
  }
  #container2 h3{
    width:100vw;
  }
}