html {
  box-sizing: border-box;
  font-family: Helvetica;
  margin: 0;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
h1 {
  color: white;
  font-size: 4vw;
  background: black;
  padding: 5px 3px 15px;
  width: 98vw;
}
img {
  width: 35vw;
  height: auto;
  border: 12px solid black;
}
.container {
  display: grid;
  grid-template-columns: 35vw 25vw 35vw;
  width: 98vw;
  justify-content: space-between;
}
.conscious-container {
  grid-column-start: 1;
  row-gap: 0;
  margin: 0;
}
.photo-container {
  margin: 0;
}
.label-container {
  display: grid;
  grid-template-rows: 9vw 9vw 9vw 9vw 9vw 9vw 9vw 9vw 9vw 9vw 9vw 9vw 9vw 9vw 9vw 9vw 9vw 9vw 9vw 9vw 9vw 9vw 9vw 9vw;
  row-gap: 1.3vw;
  align-items: flex-start;
}
.awareness-label {
  background: black;
  color: white;
  height: 9vw;
  font-weight: bold;
  font-size: 2vw;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100% 100%;
  align-items: center;
}
#aware {
  text-align: right;
  margin-right: 0.1vw;
  margin-top: -1vw;
}
#unaware {
  margin-left: 0.1vw;
  margin-top: -1vw;
}
.arrow {
  font-size: 5vw;
}
#rarrow {
  text-align: right;
}
.exit-label {
  background: black;
  color: white;
  height: 9vw;
  font-size: 4vw;
  display: grid;
  grid-template-columns: 30% 40% 30%;
  align-items: top;
}
.show-lines {
  background: black;
  color: white;
  height: 9vw;
  font-size: 4vw;
  display: grid;
  grid-template-columns: 30% 70%;
  align-items: top;
}
#exit {
  background-color: red;
  height: 9vw;
  line-height: 0;
  cursor: pointer;
}
#exit p {
  margin-top: 2vw;
}
#des p {
  font-size: 1.5vw;
  margin-left: 0.3vw;
  margin-top: 0;
}
#uarrow {
  margin-top: -3.5vw;
  text-align: center;
}
#darrow {
  margin-top: 1.5vw;
  text-align: center;
}
#show-lines{
  cursor: pointer;
  margin-top: -3.2vw;
  font-size: 3vw;
}

.actions-container {
  background: black;
  color: white;
  height: 9vw;
  font-size: 2vw;
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: 60% 40%;
  align-items: flex-start;
}
.title {
  font-size: 3vw;
  margin-top: -0.2vw;
  margin-left: 0.1vw;
}
.description {
  grid-row: 2 / 2;
  font-size: 1.5vw;
  margin-top: -1.2vw;
  margin-left: 0.1vw;
}
.signs {
  width: 4vw;
  height: 4vw;
  text-align: center;
  border-radius: 8vw;
  background-color: #118f1e;
  justify-self: center;
  margin: auto;
  align-self: center;
  font-size: 3vw;
  margin-top: 2.5vw;
  cursor: pointer;
}
.signs p {
  margin-top: 0.2vw;
}
.green {
  background-color: #118f1e;
}
.yellow {
  background-color: #eea923;
}
.blue {
  background-color: #0e71e4;
}
.orange{
  background-color: #D36D0F;
}
.red{
  background-color: #df1111;
}
.gray{
  background-color: #808183;
}
.blur{
  -webkit-filter: blur(5px); /* Chrome, Safari, Opera */
  filter: blur(5px);
}