@font-face {
  font-family: "silkscreennormal";
  src: url("slkscr-webfont.eot");
  src: url("slkscr-webfont.eot?#iefix") format("embedded-opentype"),
    url("slkscr-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
html {
  box-sizing: border-box;
  font-family: silkscreennormal;
  margin: 0;
  padding: 0;
  height: 100%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
a {
  text-decoration: none;
  color: #e9e1cd;
}
.filter {
  filter: brightness(60%);
}
.dialog-container {
  position: absolute;
  bottom: 0;
  left: 280px;
  width: 700px;
  height: 170px;
}
.dialog-img {
  position: absolute;
  bottom: 0;
  left: 0px;
}
.dialog-box {
  position: absolute;
  width: 470px;
  border: 3px solid #5c3b1b;
  background-color: #f0e4d1;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 150px;
  display: none;
}
.dialog-box p {
  font-size: 1.4em;
  margin: 10px;
}
.continue {
  position: absolute;
  bottom: 0;
  right: 0;
}
#it2 {
  display: none;
}
#skip {
  position: absolute;
  bottom: 142px;
  left: 510px;
  color: #e9e1cd;
  font-size: 1.5em;
  cursor: pointer;
}
#container {
  height: 600px;
  width: 1100px;
  border: 30px solid #5c3b1b;
  border-bottom: none;
  background: linear-gradient(
      135deg,
      #806a50 21px,
      #f0e4d1 22px,
      #f0e4d1 24px,
      transparent 24px,
      transparent 67px,
      #f0e4d1 67px,
      #f0e4d1 69px,
      transparent 69px
    ),
    linear-gradient(
        225deg,
        #806a50 21px,
        #f0e4d1 22px,
        #f0e4d1 24px,
        transparent 24px,
        transparent 67px,
        #f0e4d1 67px,
        #f0e4d1 69px,
        transparent 69px
      )
      0 64px;
  background-color: #806a50;
  background-size: 64px 128px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hint {
  font-size: 2em;
  border: 1px solid rgb(105, 58, 19);
  background-color: #ffffff;
  color: #5c3b1b;
  position: absolute;
}
#girl {
  width: 65px;
  position: absolute;
  top: 245px;
  left: 150px;
}
#boy {
  width: 65px;
  position: absolute;
  top: 245px;
  left: 230px;
}
#carpet {
  width: 500px;
  /* height: 200px; */
  position: absolute;
  transform: translate(-30%, 0);
  left: 50%;
  bottom: 10px;
  filter: contrast(180%) brightness(80%);
  opacity: 70%;
}
#wall {
  position: absolute;
  height: 170px;
  top: 0%;
  width: 100%;
  background: radial-gradient(
      circle,
      transparent 20%,
      #f8efd1 20%,
      #f8efd1 80%,
      transparent 80%,
      transparent
    ),
    radial-gradient(
        circle,
        transparent 20%,
        #f8efd1 20%,
        #f8efd1 80%,
        transparent 80%,
        transparent
      )
      50px 50px,
    linear-gradient(#d8a46a 8px, transparent 8px) 0 -4px,
    linear-gradient(90deg, #d8a46a 8px, transparent 8px) -4px 0;
  background-color: #f8efd1;
  background-size: 100px 100px, 100px 100px, 50px 50px, 50px 50px;
}

#window {
  width: 200px;
  height: 150px;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  background-color: #5c3b1b;
  justify-content: space-around;
  align-items: center;
  transform: scale(90%);
  left: 120px;
}
#window span {
  width: 77.5px;
  height: 52.5px;
  background-color: #ed5f49;
}
#bed {
  width: 130px;
  position: absolute;
  top: 230px;
  left: 100px;
}
#fridge {
  width: 200px;
  position: absolute;
  top: 30px;
  left: 600px;
}
#desk {
  width: 240px;
  position: absolute;
  top: 20px;
  left: 250px;
}
#locker {
  width: 80px;
  position: absolute;
  top: 140px;
  left: 500px;
}
#dairy {
  top: 25px;
  left: 531px;
}
#sofa {
  width: 300px;
  position: absolute;
  top: 140px;
  left: 600px;
}
#table {
  width: 250px;
  position: absolute;
  top: 275px;
  left: 621px;
}
#mirror {
  position: absolute;
  bottom: 10px;
  left: 240px;
}
#stove {
  width: 150px;
  position: absolute;
  top: 60px;
  left: 750px;
}
#bear {
  width: 80px;
  position: absolute;
  top: 280px;
  left: 520px;
}
#door {
  right: 0;
  width: 100px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

#note {
  top: 50px;
  left: 685px;
  display: none;
}
#sticky-note {
  width: 400px;
  height: 400px;
  background-color: #f8efd1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #5c3b1b;
  display: none;
  text-align: center;
}
#diary {
  width: 400px;
  height: 400px;
  background-color: #f8efd1;
  color: #5c3b1b;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  padding: 20px;
}
#sticky-note p {
  font-size: 1.5em;
}
#sticky-note span {
  font-family: "Brush Script MT";
}
#puzzle {
  width: 400px;
  height: 80vh;
  background-color: #e9e1cd;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
#puzzle p {
  position: absolute;
  color: #5c3b1b;
  font-size: 1.5em;
  transform: translate(5px, 15px);
}
#background {
  width: 380px;
  height: 47vh;
  border: 3px solid #5c3b1b;
  position: absolute;
  top: 170px;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: gold;
}
.direction {
  width: 90px;
  height: 90px;
  border: 2px solid #5c3b1b;
  background-color: #806a50;
  position: absolute;
  font-size: 2em;
  color: #5c3b1b;
  transform: translateY(5px);
}
#north {
  top: 220px;
  left: 50%;
  transform: translate(-50%, 0%);
}
#south {
  top: 380px;
  left: 50%;
  transform: translate(-50%, 0%);
}
#east {
  top: 280px;
  right: 20px;
}
#west {
  top: 280px;
  left: 20px;
}
#for-locker {
  top: 80px;
  left: 528px;
  display: none;
}
#for-door {
  top: 211px;
  right: 47px;
  display: none;
}
#for-bed {
  top: 229px;
  left: 160px;
  display: none;
}
#for-desk {
  top: -10px;
  left: 330px;
  display: none;
}
#for-desk2 {
  top: 50px;
  left: 360px;
  display: none;
}
#for-table {
  top: 247px;
  left: 760px;
  display: none;
}
#for-bear {
  top: 217px;
  left: 552px;
  display: none;
}
#for-carpet {
  bottom: 18px;
  left: 590px;
  display: none;
}
h1 {
  color: #5c3b1b;
  text-align: center;
  display: none;
}
h3 {
  text-align: center;
  color: #5c3b1b;
  font-size: 2em;
  line-height: 0;
  display: none;
}
#open-instruction {
  font-size: 2.4em;
  position: fixed;
  top: 90px;
  left: 20px;
  padding: 6px;
  border: 3px solid rgb(105, 58, 19);
  width: 50px;
  height: 50px;
  margin: 4px;
  color: rgb(105, 58, 19);
  cursor: pointer;
}
#open-item {
  position: fixed;
  top: 160px;
  left: 20px;
  padding: 5px;
  border: 3px solid rgb(105, 58, 19);
  width: 50px;
  margin: 4px;
  height: 50px;
  cursor: pointer;
}
#sound {
  position: fixed;
  top: 20px;
  left: 20px;
  padding: 5px;
  border: 3px solid rgb(105, 58, 19);
  width: 50px;
  margin: 4px;
  cursor: pointer;
  display: block;
}
.glow {
  transform: scale(120%);
  background-color: #d8a46a;
}

#instruction {
  width: 500px;
  height: 80vh;
  position: fixed;
  left: 50%;
  top: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  background-color: #e9e1cd;
  font-size: 2em;
  color: rgb(105, 58, 19);
  display: none;
}

#instruction span {
  padding: 5px;
  border: 1px solid rgb(105, 58, 19);
  margin: 4px;
}
.small-text {
  position: absolute;
  font-size: 1em;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  padding: 0%;
}
.small-text2 {
  font-size: 1em;
  padding: 70px 5px 10px 0;
}

#my-bag {
  width: 500px;
  height: 80vh;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: rgb(105, 58, 19);
  background-color: #e9e1cd;
  display: none;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  overflow: scroll;
}
#my-bag h2 {
  font-size: 2em;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  text-align: center;
}
#my-bag h4 {
  font-size: 2em;
  line-height: 0%;
  padding-left: 5px;
  transform: translate(0, -20px);
}
#my-bag p {
  padding-left: 5px;
}
.item-container {
  width: 400px;
  height: 100px;
  border: 2px solid #5c3b1b;
  grid-template-columns: 100px 400px;
  grid-template-rows: 50px 50px;
  display: none;
  transform: translate(0, 80px);
  background-color: aliceblue;
}
.thumbnail {
  width: 90px;
  height: 90px;
  grid-area: 1/1/3/2;
  transform: translate(3px, 3px);
}
.thumbnail2 {
  width: 80px;
  height: 80px;
  border: 2px solid #5c3b1b;
  position: absolute;
}
.thumbnail2 img {
  width: 80px;
}
.fabric {
  background: radial-gradient(
        hsl(0, 100%, 27%) 4%,
        hsl(0, 100%, 18%) 9%,
        hsla(0, 100%, 20%, 0) 9%
      )
      0 0,
    radial-gradient(
        hsl(0, 100%, 27%) 4%,
        hsl(0, 100%, 18%) 8%,
        hsla(0, 100%, 20%, 0) 10%
      )
      50px 50px,
    radial-gradient(hsla(0, 100%, 30%, 0.8) 20%, hsla(0, 100%, 20%, 0)) 15px 0,
    radial-gradient(hsla(0, 100%, 30%, 0.8) 20%, hsla(0, 100%, 20%, 0)) 0 15px,
    radial-gradient(hsla(0, 100%, 20%, 1) 35%, hsla(0, 100%, 20%, 0) 60%) 15px 0,
    radial-gradient(hsla(0, 100%, 20%, 1) 35%, hsla(0, 100%, 20%, 0) 60%) 30px
      15px,
    radial-gradient(hsla(0, 100%, 15%, 0.7), hsla(0, 100%, 20%, 0)) 0 0,
    radial-gradient(hsla(0, 100%, 15%, 0.7), hsla(0, 100%, 20%, 0)) 15px 15px,
    linear-gradient(
        45deg,
        hsla(0, 100%, 20%, 0) 49%,
        hsla(0, 100%, 0%, 1) 50%,
        hsla(0, 100%, 20%, 0) 70%
      )
      0 0,
    linear-gradient(
        -45deg,
        hsla(0, 100%, 20%, 0) 49%,
        hsla(0, 100%, 0%, 1) 50%,
        hsla(0, 100%, 20%, 0) 70%
      )
      0 0;
  background-color: #300;
  background-size: 30px 30px;
}
#fabric3 {
  /* left: 90px; */
  height: 80px;
  width: 80px;
  display: none;
}
#fabric2 {
  left: 10px;
}
#cuicuit {
  left: 110px;
}
#coffee {
  right: 10px;
}
#leaves {
  right: 110px;
}

#fabric3 {
  display: none;
}
#purple {
  display: none;
}
#brown {
  display: none;
}
#green {
  display: none;
}

.fill {
  position: absolute;
  left: 0;
  top: 0;
}
#girl-8 {
  display: block;
}
#girl-9 {
  display: block;
}
#girl-10 {
  display: block;
}
#girl-10 p {
  position: absolute;
}
.option span {
  border: 2px solid rgb(105, 58, 19);
  padding: 2px;
}
.option {
  bottom: 0;
  position: absolute;
}
#no {
  right: 200px;
}
#intro2 {
  display: none;
}
#intro3 {
  display: none;
}
#intro4 {
  display: none;
}
